<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>BirthdayBot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/birthdays/public/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Coiny&display=swap" rel="stylesheet">
  </head>
  <div class="wrapper">
      <h1>Birthday Bot</h1>
      {{{body}}}
      <form action="/birthdays/" method="POST">
          <label for="name">Name</label>
          <input id="name" type="text" name="name" placeholder="Lady Gaga" /><br />
          <input type="submit" value="Get Birthday" />
      </form>
    </div>
  </body>
</html>