<div class="max-w-screen-md mx-auto pt-10">
    <h1 class="headline text-6xl my-10 text-center">Birthday Bot</h1>
    <section class="text-center pt-10">
        <p class="text-center">Give BirthdayBot the name of a public figure to find their birthday!</p>
        {{> form}}
    </section>
</div>