<form action="/birthdays/" method="POST">
<label for="name">Famous Person's Name</label>
    <input id="name" type="text" name="name" placeholder="Lady Gaga" /><br />
    <input type="submit" value="Get Birthday" />
</form>