@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .btn {
      @apply py-2 px-5 bg-indigo-600 text-white rounded-lg shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-75;
    }
    .container {
      @apply bg-white text-black my-4 py-10 px-6 border-2 rounded-lg border-black shadow-md flex space-x-6;
    }
  }

  body {
    background-color: #3730a3;
    background-image: url(../public/bg.svg);
  }

  .headline {
    font-family: 'Bebas Neue', sans-serif;
  }

  .artist-photo-wrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    img {
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .main {
    height: calc(100vh - 70px);
  }